<!-- <header class="site-header">
          <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">

              <div>
                {% with messages = get_flashed_messages(with_categories = true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{category}}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                
              </div> -->

              <!-- <div class="collapse navbar-collapse" id="navbarToggle"> -->
                <!-- <div class="navbar-nav mr-auto"> -->
                  <!-- {% if current_user.is_authenticated %} -->
                    <!-- <a class="nav-item nav-link" href="/account">Account</a>   -->
                    <!-- <a class="nav-item nav-link" href="/logout">LOGOUT</a> -->
                    <!-- <a class="nav-item nav-link" href="/attendance">Attendance</a> -->
                    <!-- <a class="nav-item nav-link" href="#">Invoice</a> -->
                  <!-- {% else %} -->
                      <!-- <a class="nav-item nav-link" href="/login">LOGIN</a> -->
                      <!-- <a class="nav-item nav-link" href="/attendance/new_login">New Entry</a> -->
                  <!-- {% endif %} -->


                 
                <!-- </div>
              </div> -->
            <!-- </div>
          </nav>
        </header> -->
        